<table>
<thead>
<th><%= current_user.user_name.capitalize %> Your bugs !!</th>
</thead>
<% @assign_bugs.each do |bug| %>
  <tr>
    <% if current_user.id == bug.user.id %>
   <td> <%= bug.bug.title %></td>
    <% end %>
  </tr>

<% end %>
</table>
