<h1>Hello Developer</h1>
<p>The new bug has been assigned to you </p>
<p>To view which bug is assigned visit <%= @url %></p>

<br><br><br><br>

<p>Thank you, Have a good day </p>
<p>Happy Coding  </p>