<h1>Hello Developer<%= @user.user_name%></h1>
<p>The new bug has been assigned to you named <%= @bug.title %></p>
<p>You can get more info here <%= @url %></p>

<br><br>

<p>Thank you, Have a good day </p>
<p>Happy Coding  </p>