<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> <%# <%= image_tag ("bug_tracker.jpeg"), class: 'banner' %> <h1
          class="heading">BUG TRACKING <span>SYSTEM </span> </h1>
        <%= link_to 'SIGN IN', new_user_session_path, class:"btn btn-success button-sign-in" %> </div>
      <div> </div>
</header>